* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-size: x-large;
  color: #292929
}
h1{
  margin: 20px;
  color: #292929
}
.App-header{
  width: 100vw;
  height: 60px;
  background: white;
  color: #32004d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 2px 0 #363636;
  padding: 0 80px 0 80px
}
.App-header nav{
  display: flex
}
.App-header nav ul {
  margin: 10px;
  color: #250033;
}
.App-header nav ul:hover {
  margin: 10px;
  color: #d16500ff;
}

.dashboard-body{
  width: 100vw;
  height: 100vh;
  background: #fafafa;
  color: black;
  display: flex;
}
.dashboard-body .right{
  width: 80%;
  height: 100%;
  align-items: center;
  text-allign: center;
  
}
.dashboard-body .left{
  width: 20%;
  height: 100%;
  align-items: center;
  text-allign: center;
  background: black;
  padding: 0 40px;
}
.dashboard-body .left p {
  margin-top: 20px;
  font-size: large;
  color: white
}
.home-body-1{
  height: 100vh;
  padding:  20px 140px;
  text-align: center;
  margin-bottom: 40px;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.home-body-2{
  height: 100vh;
  display: flex;
  padding:  20px 80px;
  text-align: center;
  background: #d16500ff;
  padding: 40px;
  align-items: center;
  justify-content: center;
}
.home-body-3{
  padding:  20px 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
}