@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 40px;
  margin: 10px;
  color: #292929;
  text-align: center;
  font-weight: semi-bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

button{
  background: blue;
  color: white;
  cursor: pointer;
}
button:hover{
  background: white;
  color: blue;
}


/*style for header  */
.logo{
  display: flex;
  align-items: center;
}
/*style for lessons page*/

.lessons-nav{
  display: flex;
  justify-content: space-between;
}
.g-1-lesson-head{
  color: green;
}
.g-1-lesson-1{
  width: 100%;
  padding: 40px;
  allign-items: center;
  display: flex;
  flex-direction: column;
  
}
.g-1-question{
  text-align: center;
  font-size: 50px;
}
.score{
  text-align: center;
}
.g-1-lesson-input{
   width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



/* style for signin and singup form*/
section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.btn{
  padding: 10px;
   border-radius: 0.5rem;
  margin-top: 40px;
}





h1{
  font-size: 40px;
}

.form{
  height: 100vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 20px;
}
.form input{
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #19431b;
}

/* style for Dashboard  */
.dashboard{
width: 100vw;
}
.dashboard-body{
  height: 100vh;
  background: #fafafa;
  color: black;
  display: flex;
  flex-direction: column;
}
.dashboard-body .body{
  height: 100%;
  align-items: center;
  text-allign: center;
  width: 100%;
  
}
.dashboard-body .body h1{
  font-size: 20px;
  text-align: center;
}
.dashboard-body .nav{
  width: 100%;
  padding: 4px;
  align-items: center;
  text-allign: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.dashboard-body .nav p {
  margin-left: 12px;
  font-size: large;
  color: #129900
}
.btn-dash{
  
}






/* style for desktop */
@media screen and (min-width: 1200px) {
  .form{
  height: 100vh;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 140px;
}
/*style for dashboard desktop */
.dashboard-body{
  display: flex;
  flex-direction: row;
}
.dashboard-body .body{
  width: 80%;
  height: 100%;
  align-items: center;
  text-allign: center;

  
}
.dashboard-body .nav{
  width: 20%;
  height: 100%;
  align-items: left;
  text-allign: left;
  background: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.dashboard-body .nav p {
  color: white;
}
.dashBody{
  display: flex;
  direction: row;
  padding: 10px;
}
  .btn{
    
  }
}


/*style for slider */
div a {
  text-decoration: none;
  color: blue;
  font-size: 20px;
  display:inline-block;
}


  ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: flex;
               flex-direction: row}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
  } 
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: blue;}


/** style for client comment section **/
.comment-space {
  padding: 10px;
   display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.comment-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-item: center;
}
.comment-card {
  width: 250px;
  height: 250px;
  background: whitesmoke; 
  border:  gray 2px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.comment-img {
  width: 80px;
  height: 80px;
  border: 2px red;
  border-radius: 100%;
   display: flex;
  flex-direction: column;
  justify-content: center;
}
.affiliate-con{
display: flex;
  flex-direction: column;
  justify-content: center;
}
